/* Estilo general */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo del encabezado */
  /*
  .encabezado {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  */
  .encabezado {
    background-image: url('prueba.jpg');
    background-size: cover;
    padding: 1em;
    text-align: center;
    width: 1278px;
    height: 587px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .encabezado h1 {
    margin: 0;
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  .encabezado p {
    margin: 0;
    font-size: 1.2em;
    margin-top: 0.5em;
  }
  
  
  
  /* Estilo de la sección "Sobre nosotros" */
  
  .sobre-nosotros {
    padding: 2em;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .sobre-nosotros h2 {
    margin-top: 0;
    font-size: 2em;
  }

  /* FORMULARIO */
  
  #formulario {
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #formulario label {
    display: block;
    margin-bottom: 10px;
  }
  
  #formulario input,
  #formulario textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #formulario input[type="number"] {
    width: 70px;
  }
  
  #formulario button[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #formulario button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  /*productos */
  
  .productos {
    text-align: center;
  }
  
  .producto {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    vertical-align: top;
  }
  
  .producto img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .producto h3 {
    margin: 0;
  }
  
  .producto p {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .productos {
    margin-top: 50px;
  }
  
  .producto {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    vertical-align: top;
    width: calc((100% / 3) - 40px); /* ajuste el ancho para 3 elementos por fila*/
  }
  
  .producto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .producto h3 {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
  }
  
  .producto p {
    margin: 0;
    font-weight: bold;
    text-align: center;
  }
  
  /*FOOTER*/
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    color: #ccc;
  }
  